[Unit]
Description=Automatically Snapshot Tool

[Service]
LimitNOFILE=1048576
LimitNPROC=1048576
Type=simple
User=root
Group=root
ExecStart=/usr/bin/auto_snap
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
StartLimitInterval=30min
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
